<div id="transfer-from-agents-div">
    <h3>Transfer from Agents</h3>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-8 flex-column">
            <form [formGroup]=transferForm class="row g-3" fxFlex="30">
                <ng-select [items]="agents"
                           bindLabel="agent_name"
                           class="custom"
                           bindValue="agent_id"
                           formControlName="agent_id"
                           placeholder="Select Agent"
                           (change)="getStockByAgent()">
                </ng-select>
            </form>

        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-6 flex-column">
            <div  id="product-table-div">
                <form class="example-form">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                        <mat-slide-toggle
                                [(ngModel)]="checkedAvailableAllProducts"
                                class="example-margin"
                                [color]="color"
                                (change)="changeProductSlideToggle()"
                                [ngModelOptions]="{standalone: true}">
                            {{checkedAvailableAllProducts?'Deselect':'Select All'}}
                        </mat-slide-toggle>
                        <mat-form-field fxFlex="15">
                            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
                        </mat-form-field>
                        <mat-form-field fxFlex="10">
                            <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
                        </mat-form-field>
                        <mat-form-field fxFlex="10">
                            <input type="text" matInput placeholder="Total Products" [disabled]="true" value="{{countSelectedAvailableProduct()}}/{{productByAgentList.length}}" name="totalProducts" >
                        </mat-form-field>
                        <button (click)="selectForTransfer()" [disabled]="!isAnyAvailableProductSelected()"   mat-mini-fab aria-label="Send all"  [matBadge]="countSelectedAvailableProduct()" matBadgePosition="before" matBadgeColor="primary">
                            <i class="ri-send-plane-2-fill"></i>
                        </button>



                    </div>
                </form>
                <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-responsive" style="border: none !important;">

                    <thead>
                    <tr>
                        <th mat-sort-header="selected">Select</th>
                        <th>Index</th>
                        <th mat-sort-header="tag">Tag</th>
                        <th mat-sort-header="model">Model</th>
                        <th mat-sort-header="size">Size</th>
                        <th mat-sort-header="quantity">Quantity</th>
                        <th>Gold</th>
                        <th>LC</th>
                        <th>Selected</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [ngClass]="{selectedRow: product.is_selected}" *ngFor="let product of sortedProductByAgentList | filter:searchTerm | paginate: {id: 'pagination1', itemsPerPage: pageSize, currentPage: currentPageProducts };let indexOfElement=index">
                        <td><mat-checkbox class="example-margin" [(ngModel)]="product.is_selected"></mat-checkbox></td>
                        <td>{{(currentPageProducts-1)*10+indexOfElement+1}}</td>
                        <td>{{product.tag}}</td>
                        <td>{{product.modelNo}}</td>
                        <td>{{product.modelSize}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.gold}}</td>
                        <td>{{product.labourCharge}}</td>
                        <td>{{product.isSelected}}</td>
                        <td>
                            <button (click)="sendProduct(product)" [disabled]="!product.is_selected" mat-mini-fab aria-label="Select Product">
                                <i class="ri-send-plane-2-fill"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
                    <!--    https://www.npmjs.com/package/ngx-pagination-->
                    <!--    npm i ngx-pagination-->
                    <pagination-controls id='pagination1' (pageChange)="currentPageProducts = $event" responsive="true" autoHide="true" previousLabel="আগে" nextLabel="পরে" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-6 flex-column" >
            <div  id="selected-product-table-div" *ngIf="selectedProducts.length>0" >
                <form class="example-form">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                        <mat-slide-toggle
                                [(ngModel)]="checkedTransferableAllProducts"
                                class="example-margin"
                                [color]="color"
                                (change)="changeTransferableProductSlideToggle()"
                                [ngModelOptions]="{standalone: true}">
                            {{checkedTransferableAllProducts?'Deselect':'Select All'}}
                        </mat-slide-toggle>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search..." [(ngModel)]="searchTermSelectedProducts" name="search" type="text" autofocus>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Items per page" [(ngModel)]="pageSizeSelectedProducts" name="PageSize" type="text">
                        </mat-form-field>
                    </div>
                </form>
                <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-responsive" style="border: none !important;">
                    <thead>
                    <tr>
                        <td>Select</td>
                        <td>Index</td>
                        <td>Tag</td>
                        <td>Model</td>
                        <td>Size</td>
                        <td>Quantity</td>
                        <td>Gold</td>
                        <td>LC</td>
                        <td>Selected</td>
                        <td>Delete</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of selectedProducts| filter:searchTermSelectedProducts | paginate: {id: 'pagination2', itemsPerPage: pageSizeSelectedProducts, currentPage: currentPageSelectedProducts };let indexOfElement=index">
                        <td><mat-checkbox class="example-margin" [(ngModel)]="product.is_selected"></mat-checkbox></td>
                        <td>{{(currentPageSelectedProducts-1)*10+indexOfElement+1}}</td>
                        <td>{{product.tag}}</td>
                        <td>{{product.modelNo}}</td>
                        <td>{{product.modelSize}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.gold}}</td>
                        <td>{{product.labourCharge}}</td>
                        <td>{{product.isSelected}}</td>
                        <td>
                            <button mat-button (click)="deleteFromSelectedProducts(product)" style="color: red"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
                    <!--    https://www.npmjs.com/package/ngx-pagination-->
                    <!--    npm i ngx-pagination-->
                    <pagination-controls id='pagination2' (pageChange)="currentPageSelectedProducts = $event" responsive="true" autoHide="true" previousLabel="আগে" nextLabel="পরে" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true">
                    </pagination-controls>
                </div>

                <button  *ngIf ="selectedProducts.length>0" mat-button color="primary" (click)="transferFromAgent()">Send to Counter Agent</button>
                <button  *ngIf ="selectedProducts.length>0" mat-button color="primary" (click)="transferToSales()">Send to Sales</button>
                <div class="d-flex" *ngIf="customerByAgentList.length>0">
                    <div class="col-6">
                        <form [formGroup] = salesForm>
                            <ng-select [items]="customerByAgentList"
                                       bindLabel="cust_name"
                                       class="custom"
                                       bindValue="cust_id"
                                       formControlName="customerId"
                                       placeholder="Select Customer"
                                       (change)="getCustomerData()" >
                            </ng-select>
                            <popover-content  #popoverCustomer
                                             title="Customer"
                                             placement="right"
                                             [animation]="true"
                                             [closeOnClickOutside]="true">
<!--                                <div>Poopover Test</div>-->
                                <div>
                                    <p>{{customerData.cust_name}}</p>
<!--                                    <p>{{customerData.mailing_name}}</p>-->
<!--                                    <p>{{customerData.city}}</p>-->
                                    <p>{{customerData.cust_address}}</p>
                                </div>
                            </popover-content>
                        </form>
                    </div>
                    <div class="col-6" *ngIf="salesForm.value.customerId">
                        <button mat-mini-fab color="primary"
                                [popover]="popoverCustomer"
                                [popoverOnHover]="true"
                                aria-label="Customer Details">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                </div>
<!--                <div  *ngIf="salesForm.value.customerId">-->
                <div  *ngIf="salesForm.value.customerId">
                    <button mat-button color="primary" (click)="billCreate()">Create Bill</button>
                </div>
            </div>
            <div *ngIf="billNumber">
                <a href="" target="_blank">{{ipAddress[0]}}:{{ipAddress[1]}}/ses_diamond2/index.php/bill_controller/display_bill?bill_no={{billNumber}}</a>
            </div>
        </div>
    </div>
</div>
