<div class="d-flex flex-column" style="min-height: 100vh;">
    <div class="p-2 text-center" style="background-color: rgb(77, 68, 68)">Stock by Category</div>
    <div class="p-5 justify-content-xl-between">
        <button mat-button class="primary" (click)="showRecord()">Fetch All Transactions</button>
    </div>
    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <div class="p-2 col-xl-6" style="background-color: rgb(199, 192, 192)">

            </div>
            <!-- Right -->
            <div class="bloc_2 p-2 col-xl-6" style="background-color: antiquewhite">

            </div>
        </div>
    </div>
    <!--    Footer area-->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <div class="col" fxLayoutAlign="center center">
                    <pre>

                    </pre>

            </div>
            <div class="col" fxFlex="2 1 auto" fxLayoutAlign="center center">
                    <pre>
                        ghfh
                    </pre>
            </div>
        </div>
    </div>
</div>
