<header class="masthead d-flex align-items-center">

    <div class="container px-4 px-lg-5 text-center">
<!--        <h1 class="mb-1" data-aos="fade-down" data-aos-delay="4000"  data-aos-offset="500">-->
<!--            Welcome to Institution Management System-->
       <h1 class="mb-1" data-aos="fade-up"
             data-aos-duration="3000">

            {{projectHeading}}
            <br>
            {{contact}}
        </h1>
        <h3 class="mb-5"><em>We are developing it</em></h3>
        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
        <div data-aos="fade-up" data-aos-once="true">
            the content
        </div>


        <a (click)="dynamicDownloadTxt()" >download Txt</a>
        <a (click)="dynamicDownloadJson()" >download JSON</a>
        <button (click)="saveFile()">Save File</button>
    </div>
</header>
