<div class="outer-div">
    <div fxLayout="row" fxLayout.xs="column">
        <!--        Left-->
        <div class="child-1" fxFlex="40">
            <mat-card class="example-card" id="agent-card">
                <mat-card-header>
                    <mat-card-subtitle>
                       Left heading
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div *ngIf="billableOrders" id="stockListDiv" class="table-responsive">
                        <table class="table table-bodered table-condensed" id="printable-stock-table">
                            <thead>
                            <tr>
                                <th>SL</th>
                                <th>Tag</th>
                                <th>Model No.</th>
                                <th>Billable Jobs</th>
                                <th>Working Progress</th>
                                <th>Number of Orders</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of billableOrders; let i = index">
                                <td >{{i+1}}</td>
                                <td >{{row.order_id}}</td>
                                <td >{{row.cust_name}}</td>
                                <td >{{row.billable_job_count}}</td>
                                <td >{{row.working_job_count}}</td>
                                <td >{{row.order_count}}</td>
                                <td ><a [routerLink]="" href="" (click)="onOrderSelected(row)"><i class="bi bi-gear-wide-connected"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
        <!--            Right-->
        <div class="child-2" fxFlex="60">
            <mat-card class="example-card">
                <mat-card-content>
                    right content

                </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">
                <pre>
                    billableOrders = {{ billableOrders | json }}
                </pre>
            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
            <div fxLayoutAlign="center center">3</div>
            <div fxLayoutAlign="center center">4</div>
        </div>
    </div>
</div>

