<div class="outer-div">
    <div fxLayout="row" fxLayout.xs="column">
        <!--        Left-->
        <div class="child-1" fxFlex="40">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-subtitle>
                       All Billable Jobs
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div *ngIf="billableOrders.length==0">
                        Please wait fetching records ........
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <div *ngIf="billableOrders.length>0" id="stockListDiv" class="table-responsive">
                        <table class="table table-bodered table-condensed" id="printable-stock-table">
                            <thead>
                            <tr>
                                <th>SL</th>
                                <th>Tag</th>
                                <th>Model No.</th>
                                <th>Billable Jobs</th>
                                <th>Working Progress</th>
                                <th>Number of Orders</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of billableOrders; let i = index">
                                <td >{{i+1}}</td>
                                <td >{{row.order_id}}</td>
                                <td >{{row.cust_name}}</td>
                                <td >{{row.billable_job_count}}</td>
                                <td >{{row.working_job_count}}</td>
                                <td >{{row.order_count}}</td>
<!--                                <td ><a [routerLink]="" href="" (click)="onOrderSelected(row)"><mat-icon>gps_not_fixed</mat-icon></a></td>-->
                                <td>
                                    <a [routerLink]=""  (click)="onOrderSelected(row,-1)" *ngIf="selectedOrderIndex!=-1"> <mat-icon>gps_not_fixed</mat-icon> </a>
                                    <a [routerLink]=""   *ngIf="selectedOrderIndex==-1"> <mat-icon>gps_fixed</mat-icon> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>

            </mat-card>
            <mat-card  *ngIf="jobDetails.length>0">
                <mat-card-header>
                    <mat-card-subtitle>Job Details Data</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="jobDetails.length>0" class="table-responsive">
                        <table class="table table-bodered table-condensed">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>SL</th>
                                <th>Job Id</th>
                                <th>Product Code</th>
                                <th>Product Size</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let job of jobDetails; let i = index">
                                <td><mat-checkbox class="example-margin" [(ngModel)]="job.is_selected"></mat-checkbox></td>
                                <td >{{i+1}}</td>
                                <td >{{job.job_id}}</td>
                                <td >{{job.product_code}}</td>
                                <td >{{job.product_size}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!--            Right-->
        <div class="child-2" fxFlex="60">
            <mat-card class="example-card">
                <mat-card-content>
                    right content

                </mat-card-content>

            </mat-card>

        </div>
    </div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">
                <pre>
                    billableOrders = {{ billableOrders | json }}
                </pre>
            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
            <div fxLayoutAlign="center center">3</div>
            <div fxLayoutAlign="center center">4</div>
        </div>
    </div>
</div>

