<div id="outer-div" class="ml-2">
    <div class="card p-3" style="width: 100vw; height: 100vh;">
        <div class="card-body">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div>
                        <i class="pi pi-check" style="font-size: 2rem"></i>

                    </div>

                    <form [formGroup]="bankingForm">
                        <mat-form-field appearance="legacy">
                            <mat-label>Legacy form field</mat-label>
                            <input matInput placeholder="IFSC Code" formControlName="ifsc">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Enter your IFSC Code</mat-hint>
                        </mat-form-field>
                        <div style="padding-top: 5px">
<!--                    file upload implementation using primeng        -->
                            <p-fileUpload
                                    multiple="true"
                                    accept="image/*"
                                    maxFileSize="2000000"
                                    formControlName="image"
                                    [showUploadButton]="false"
                                    [showCancelButton]="false"
                                    (change)="onImageUpload($event)"
                                    >
                            </p-fileUpload>
<!--                            <input type="file" formControlName="image" (change)="onImageUpload($event)">-->
                        </div>

                        <button mat-raised-button color="warn" (click)="getBankDetails()">Get Bank Details</button>
                    </form>
                </div>
                <div class="p-2 bd-highlight">
                    <table class="table table-responsive table-striped" *ngIf="bankDetails">
                        <tbody>
                            <tr>
                                <td class="left-label">IFSC</td> <td>{{bankDetails.IFSC}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">Bank</td> <td>{{bankDetails.BANK}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">Bank Code</td> <td>{{bankDetails.BANKCODE}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">Branch</td> <td>{{bankDetails.BRANCH}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">Address</td> <td>{{bankDetails.ADDRESS}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">City</td> <td>{{bankDetails.CITY}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">District</td> <td>{{bankDetails.DISTRICT}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">State</td> <td>{{bankDetails.STATE}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">MICR</td> <td>{{bankDetails.MICR}}</td>
                            </tr>
                            <tr>
                                <td class="left-label">Contact</td> <td>{{bankDetails.CONTACT}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="p-2 bd-highlight">
                    <pre>
                    </pre>
                </div>

            </div>

        </div>
    </div>
</div>
<!--tooltip using primeng messageService-->
<p-toast position="top-right">
    <ng-template let-message pTemplate="message">
        <div  *ngIf="message.severity=='success'" style="background-color: #1e7e34 ; font-size: x-small ; font-family: Roboto">
<!--            <i class="pi pi-exclamation-triangle" ></i>-->
                <div class="d-flex">
                    <div>
                        <img src="../assets/img/cipudi.jpg" alt="Avatar" height="70px">
                    </div>
                    <div>
                        <h5>{{message.detail}}</h5>
                    </div>
                </div>


<!--                <p>{{message.detail}}</p>-->
        </div>
        <div  *ngIf="message.severity=='error'" style="background-color: #f44336 ; font-size: x-small ; font-family: Roboto">
            <!--            <i class="pi pi-exclamation-triangle" ></i>-->
            <div class="d-flex">
                <div>
                    <img src="../assets/img/cipudi.jpg" alt="Avatar" height="70px">
                </div>
                <div>
                    <h5>{{message.detail}}</h5>
                </div>
            </div>


            <!--                <p>{{message.detail}}</p>-->
        </div>
    </ng-template>
</p-toast>
<!--tooltip ends-->
<!--confirmation modal using primng confirmationService-->
<p-confirmDialog header="Enter PIN" icon="fa fa-question-circle" width="425" #cd>
    <p-footer style="background-color: #1a1e21">
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
<!--confirmation modal ends-->
