<div id="status-report-div">
    <div id="report-area">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight col-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Date</th>
                        <th>Job ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of workingJobList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{row.job_date}}</td>
                        <td>{{row.job_id}}</td>
                        <td>{{row.order_id}}</td>
                        <td>{{row.product_code}}</td>
                        <td>{{row.product_size}}</td>
                        <td>{{row.pieces}}</td>
                        <td>{{row.gold_send}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex col-4 flex-row bd-highlight mb-3">

            </div>

        </div>

    </div>
</div>

<div *ngIf="true" id="developer-div">
    <pre>
        workingJobList={{workingJobList | json}}
    </pre>
    <pre>

    </pre>
    <pre>

    </pre>
</div>



