<div id="working-job-report-div">
    <div id="report-area">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight col-12">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>SL</th>
                        <th>Date</th>
                        <th>Job ID</th>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Model</th>
                        <th class="text-center">Size</th>
                        <th class="text-right">Qty</th>
                        <th class="text-center">Karigar</th>
                        <th class="text-right">Gold</th>
                        <th class="text-right">Pan Send</th>
                        <th class="text-right">Nitric</th>
                        <th class="text-center">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of workingJobList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{row.job_date}}</td>
                        <td>{{row.job_id}}</td>
                        <td>{{row.order_id}}</td>
                        <td>{{row.cust_name}}</td>
                        <td>{{row.product_code}}</td>
                        <td class="text-center">{{row.product_size}}</td>
                        <td class="text-right">{{row.pieces}}</td>
                        <td class="text-left">{{row.nick_name}}</td>
                        <td class="text-right">{{row.gold_send | number: '1.3'}}-{{row.gold_returned | number: '1.3'}} = {{(row.gold_send-row.gold_returned) | number: '1.3'}}</td>
                        <td class="text-right">{{row.pan_send}}</td>
                        <td class="text-right">{{row.nitrick_returned}}</td>
                        <td class="text-center">{{row.status_name}}</td>
                        <td class="text-center">{{row.job_age}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex col-4 flex-row bd-highlight mb-3">

            </div>

        </div>

    </div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <pre>
        workingJobList={{workingJobList | json}}
    </pre>
    <pre>

    </pre>
    <pre>

    </pre>
</div>



