<div id="stock-entry-div">
    <div  fxFlex="100" style="padding-top: 25px">
        <h4 style="text-align: center">Stock Entry Form</h4>
        <mat-card id="stock-form-div">
            <form [formGroup] = stockForm>
                <div fxLayoutGap="15px" style="padding-left: 50px">
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="reference" matInput placeholder="Reference" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10" >
                        <input   class="p-1" type="text" formControlName="billNo" matInput placeholder="Bill No" style="border-radius: 5px;">
                    </mat-form-field>
<!--                    <mat-form-field fxFlex="10" >-->
<!--                        <input   class="p-1" type="text" formControlName="job_id" matInput placeholder="Job Id" style="border-radius: 5px;">-->
                        <div class="col-2">
                            <ng-select [items]="jobList"
                                       bindLabel="job_id"
                                       class="custom"
                                       bindValue="job_id"
                                       formControlName="jobId"
                                       placeholder="Job Id"
                                       (change)="getDetails()">
                            </ng-select>
                        </div>
<!--                    </mat-form-field>-->
                </div>
                <div fxLayoutGap="15px" style="padding-left: 50px">
                    <div style="padding-top: 10px">
                        <button mat-raised-button  mat-mini-fab [disabled]="!stockForm.value.tag" (click)="increaseTag()">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                    </div>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="tag" matInput placeholder="Tag" style="border-radius: 5px;">
                    </mat-form-field>
<!--                    <div class="col-2">-->
<!--                        <ng-select [items]="productList"-->
<!--                                   bindLabel="product_code"-->
<!--                                   class="custom"-->
<!--                                   bindValue="product_code"-->
<!--                                   formControlName="model_no"-->
<!--                                   placeholder="Model Number"-->
<!--                                   (blur)="getLabourCharge()">-->
<!--                        </ng-select>-->
<!--                    </div>-->
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="modelNo" matInput placeholder="Model Number" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="modelSize" matInput placeholder="Model Size" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="gold" matInput placeholder="Gold" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="quantity" matInput placeholder="Quantity" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10" >
                        <input   class="p-1" type="text" formControlName="grossWeight" matInput placeholder="Gross Weight" style="border-radius: 5px;">
                    </mat-form-field>

                </div>
                <div fxLayoutGap="15px" style="padding-left: 50px">
                    <mat-form-field fxFlex="15" >
                        <input   class="p-1" type="text" formControlName="labourCharge" matInput placeholder="Labour Charge" readonly="true" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="15" >
                        <input   class="p-1" type="text" formControlName="packageWeight" matInput placeholder="Package Weight" style="border-radius: 5px;">
                    </mat-form-field>
                </div>
            </form>
            <div style="text-align: center"  fxLayoutGap="15px">
                <button mat-raised-button class="btn-info"  [disabled]="!stockForm.valid || !isSaveEnabled" (click)="onSubmit()">Save Stock</button>
                <button mat-raised-button class="btn-info"  [disabled]="stockForm.pristine" (click)="clear()">Clear</button>
            </div>
        </mat-card>
        <mat-card id ="stock-list-div">
            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                <mat-form-field fxFlex="15">
                    <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
                </mat-form-field>
                <mat-form-field fxFlex="10">
                    <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
                </mat-form-field>
            </div>
           <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-responsive" style="border: none !important; padding-left: 30px">
               <thead>
                <tr>
                    <th>SL No.</th>
                    <th mat-sort-header="tag">Tag</th>
                    <th>Model Number</th>
                    <th mat-sort-header="model">Model Size</th>
                    <th mat-sort-header="gold" >Gold</th>
                    <th mat-sort-header="labour_charge">Labour Charge</th>
                    <th mat-sort-header="gross_weight">Gross Weight</th>
                    <th mat-sort-header="package_weight">Package Weight</th>
                    <th>Agent Id</th>
                    <th>Employee Id</th>
                    <th>Bill No</th>
                    <th>Job Id</th>
                </tr>
               </thead>
               <tbody>
                    <tr *ngFor = "let stock of sortedStockList| filter: searchTerm |paginate: {id: 'pagination1', itemsPerPage: pageSize, currentPage: currentPageProducts }; let indexOfelement = index" [ngClass]="stock.date === formattedCurrentDate ? 'dark' : 'light'">
                        <td>{{indexOfelement+1}}</td>
                        <td>{{stock.tag}}</td>
                        <td>{{stock.model_no}}</td>
                        <td>{{stock.model_size}}</td>
                        <td>{{stock.gold}}</td>
                        <td>{{stock.labour_charge}}</td>
                        <td>{{stock.gross_weight}}</td>
                        <td>{{stock.package_weight}}</td>
                        <td>{{stock.agent_id}}</td>
                        <td>{{stock.employee_id}}</td>
                        <td>{{stock.bill_no}}</td>
                        <td>{{stock.job_id}}</td>
                    </tr>
               </tbody>
           </table>
        </mat-card>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
            <!--    https://www.npmjs.com/package/ngx-pagination-->
            <!--    npm i ngx-pagination-->
            <pagination-controls id='pagination1' (pageChange)="currentPageProducts = $event" responsive="true" autoHide="true" previousLabel="আগে" nextLabel="পরে" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true">
            </pagination-controls>
        </div>
    </div>
</div>

