#stock-entry-div{
  min-height: 100vh;
  width: 100vw;
  padding-left: 35px;
}
#stock-form-div{
  background: #eef0ef;
  margin-top: 40px;
}
#stock-list-div{
  background: #bbd9e2;
  margin-top: 20px;
}
.dark{
  background: #1D809F;
}
.light{
  background: transparent;
}
