<div id="stock-entry-div">
    <div  fxFlex="100" style="padding-top: 25px">
        <h4 style="text-align: center">Stock Entry Form</h4>
        <mat-card id="stock-form-div">
            <form [formGroup] = stockForm>
                <div fxLayoutGap="15px" style="padding-left: 50px">
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="reference" matInput placeholder="Reference" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10" >
                        <input   class="p-1" type="text" formControlName="bill_no" matInput placeholder="Bill No" style="border-radius: 5px;">
                    </mat-form-field>
<!--                    <mat-form-field fxFlex="10" >-->
<!--                        <input   class="p-1" type="text" formControlName="job_id" matInput placeholder="Job Id" style="border-radius: 5px;">-->
                        <div class="col-2">
                            <ng-select [items]="jobList"
                                       bindLabel="job_id"
                                       class="custom"
                                       bindValue="job_id"
                                       formControlName="job_id"
                                       placeholder="Job Id"
                                       (change)="getDetails()">
                            </ng-select>
                        </div>
<!--                    </mat-form-field>-->
                </div>
                <div fxLayoutGap="15px" style="padding-left: 50px">
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="tag" matInput placeholder="Tag" style="border-radius: 5px;">
                    </mat-form-field>
<!--                    <div class="col-2">-->
<!--                        <ng-select [items]="productList"-->
<!--                                   bindLabel="product_code"-->
<!--                                   class="custom"-->
<!--                                   bindValue="product_code"-->
<!--                                   formControlName="model_no"-->
<!--                                   placeholder="Model Number"-->
<!--                                   (blur)="getLabourCharge()">-->
<!--                        </ng-select>-->
<!--                    </div>-->
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="model_no" matInput placeholder="Model Number" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="model_size" matInput placeholder="Model Size" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="gold" matInput placeholder="Gold" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10">
                        <input   class="p-1" type="text" formControlName="quantity" matInput placeholder="Quantity" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="10" >
                        <input   class="p-1" type="text" formControlName="gross_weight" matInput placeholder="Gross Weight" style="border-radius: 5px;">
                    </mat-form-field>

                </div>
                <div fxLayoutGap="15px" style="padding-left: 50px">
                    <mat-form-field fxFlex="15" >
                        <input   class="p-1" type="text" formControlName="labour_charge" matInput placeholder="Labour Charge" readonly="true" style="border-radius: 5px;">
                    </mat-form-field>
                    <mat-form-field fxFlex="15" >
                        <input   class="p-1" type="text" formControlName="package_weight" matInput placeholder="Package Weight" style="border-radius: 5px;">
                    </mat-form-field>
                </div>
                <div fxLayoutGap="15px">

                </div>
                <div fxLayoutGap="15px">

                </div>
                <div fxLayoutGap="15px">

                </div>
            </form>
            <div style="text-align: center">
                <button mat-button color="primary"  [disabled]="!stockForm.valid" (click)="onSubmit()">Save Stock</button>
            </div>
        </mat-card>
        <mat-card id ="stock-list-div">
           <table class="table table-hover">
               <thead>
                    <th>Tag</th>
                    <th>Model Number</th>
                    <th>Model Size</th>
                    <th>Gold</th>
                    <th>Labour Charge</th>
                    <th>Gross Weight</th>
                    <th>Package Weight</th>
                    <th>Agent Id</th>
                    <th>Employee Id</th>
                    <th>Bill No</th>
                    <th>Job Id</th>
               </thead>
               <tbody>
                    <tr *ngFor = "let stock of stockList">
                        <td>{{stock.tag}}</td>
                        <td>{{stock.model_no}}</td>
                        <td>{{stock.model_size}}</td>
                        <td>{{stock.gold}}</td>
                        <td>{{stock.labour_charge}}</td>
                        <td>{{stock.gross_weight}}</td>
                        <td>{{stock.package_weight}}</td>
                        <td>{{stock.agent_id}}</td>
                        <td>{{stock.employee_id}}</td>
                        <td>{{stock.bill_no}}</td>
                        <td>{{stock.job_id}}</td>
                    </tr>
               </tbody>
           </table>
        </mat-card>
    </div>
</div>

