<div id="agent-wise-sale-report-div">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Agent Wise Sale Report</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <form [formGroup]="saleReturnForm">
                    <div class="d-flex flex-row">
                        <div class="mb-3 col-2">
                            <label for="yearNumber" class="form-label">Year</label>
                            <input type="number" formControlName="yearNumber" min="2022" max="2035" class="form-control" id="yearNumber" aria-describedby="yearHelp">
                            <div id="yearHelp" class="form-text">Enter Year</div>
                        </div>
                        <div class="mb-3 col-2">
                            <label for="monthNumber" class="form-label">Month</label>
                            <input type="number" formControlName="monthNumber" min="1" max="12" class="form-control" id="monthNumber" aria-describedby="monthHelp">
                            <div id="monthHelp" class="form-text">Enter Month</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="col-2">
                            <ng-select [items]="agents"
                                       bindLabel="agent_name"
                                       class="custom"
                                       bindValue="agent_id"
                                       formControlName="agentId"
                                       (change)="onAgentSelect($event)"
                                       placeholder="Select Agent">
                            </ng-select>
                        </div>

                        <div class="col-2">
                            <ng-select [items]="customers"
                                       bindLabel="cust_name"
                                       class="custom"
                                       bindValue="cust_id"
                                       formControlName="customerId"
                                       (change)="onCustomerSelect($event)"
                                       placeholder="Select Customer">
                            </ng-select>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="mb-3 col-2">
                            <label for="tag" class="form-label">Tag</label>
                            <input type="text" formControlName="tag"  class="form-control" id="tag" aria-describedby="tagHelp">
                            <div id="tagHelp" class="form-text">Enter Tag</div>
                        </div>
                        <div class="mb-3 col-2">
                            <label for="model-number" class="form-label">Model</label>
                            <input type="number" formControlName="modelNumber" class="form-control" id="model-number" aria-describedby="modelNumberHelp">
                            <div id="modelNumberHelp" class="form-text">Enter Model</div>
                        </div>
                        <div class="mb-3 col-2">
                            <label for="qty" class="form-label">Qty</label>
                            <input type="number" formControlName="qty" class="form-control" id="qty" aria-describedby="qtydHelp">
                            <div id="qtydHelp" class="form-text">Enter Qty</div>
                        </div>

                        <div class="mb-3 col-2">
                            <label for="gini-gold" class="form-label">Gini</label>
                            <input type="number" formControlName="gigniGold" class="form-control" id="gini-gold" aria-describedby="giniGoldHelp">
                            <div id="giniGoldHelp" class="form-text">Enter Gold</div>
                        </div>
                        <div class="mb-3 col-2">
                            <label for="gross-weight" class="form-label">Gross</label>
                            <input type="number" formControlName="grossWeight" class="form-control" id="gross-weight" aria-describedby="grossWeightHelp">
                            <div id="grossWeightHelp" class="form-text">Enter Gross Weight</div>
                        </div>
                        

                    </div>
                    <div class="d-flex flex-row">
                        <div class="mb-3 col-2">
                            <label for="fine-gold" class="form-label">Fine</label>
                            <input type="number" formControlName="fineGold" class="form-control" id="fine-gold" aria-describedby="fineGoldHelp">
                            <div id="fineGoldHelp" class="form-text">Enter Fine</div>
                        </div>
                        <div class="mb-3 col-2">
                            <label for="fine-gold" class="form-label">Fine</label>
                            <input type="number" formControlName="fineGold" class="form-control" id="fine-gold" aria-describedby="fineGoldHelp">
                            <div id="fineGoldHelp" class="form-text">Enter Fine</div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

<!--                <form [formGroup]="saleReturnForm">-->
<!--                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">-->
<!--                        <div fxLayoutGap="30px" style="padding-top: 10px">-->
<!--                            <label for="year">Year</label>-->
<!--                            <p-inputNumber formControlName="year" mode="decimal" thousandSeparator=" " [showButtons]="true" inputId="year" [min]="2022" [max]="2032">-->
<!--                            </p-inputNumber>-->
<!--                        </div>-->

<!--                        <div fxLayoutGap="30px" style="padding-top: 10px">-->
<!--                            <label for="month">Month</label>-->
<!--                            <p-inputNumber formControlName="month" mode="decimal" thousandSeparator=" " [showButtons]="true" inputId="month" [min]="1" [max]="12">-->
<!--                            </p-inputNumber>-->
<!--                        </div>-->

<!--                        <div fxLayoutGap="30px" style="padding-top: 10px">-->
<!--                            <p-button label="Search" id="search" icon="pi pi-search" [loading]="isLoading"></p-button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </form>-->
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card"  >
        <div style="text-align: right">
<!--            <button-->
<!--                    mat-button color="primary"-->
<!--                    [printStyle]="printDivStyle"-->
<!--                    [useExistingCss]="true"-->
<!--                    printSectionId="printAgentSalaryReportDiv"-->
<!--                    ngxPrint ><mat-icon>print</mat-icon>-->
<!--            </button>-->
        </div>
        <div id="printAgentSalaryReportDiv">

        </div>

    </mat-card>

</div>



<div class="d-flex flex-row" *ngIf="true && !isProduction" id="developer-div">
    <div class="p-2">
        <pre>
            saleReturnForm = {{saleReturnForm.value | json}}
        </pre>
    </div>
    <div class="p-2">
        <pre>

        </pre>
    </div>
    <div class="p-2" *ngIf="false">
        <pre>

        </pre>
    </div>
</div>


