<div class="d-flex flex-column" style="min-height: 100vh;">
    <div class="p-2 text-center" style="background-color: rgb(77, 68, 68)">Stock by Category</div>
    <div class="p-5 justify-content-xl-between">
        <button mat-button class="primary" (click)="showRecord()">Fetch Stock Record</button>
    </div>
    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <div class="p-2 col-xl-6" style="background-color: rgb(199, 192, 192)">

            </div>
            <!-- Right -->
            <div class="bloc_2 p-2 col-xl-6" style="background-color: antiquewhite">
                <div *ngIf="stockByGroup && stockByGroup.length>0" class="p-2" style="border: 1px solid #454141; border-radius: 10px;">

                    <p-table #dt2
                             [value]="stockByGroup"
                             [rows]="100"
                             [showCurrentPageReport]="true"
                             [rowsPerPageOptions]="[10,20,30,50,100,200,500,1000,10000]"
                             styleClass="p-datatable-gridlines"
                             [paginator]="true"
                             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [globalFilterFields]="['category','qty']"
                             [responsive]="true">
                        <ng-template pTemplate="caption">
                            <div class="flex">
                                <h4>Stock by Category</h4>
                                <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SL</th>
                                <th pSortableColumn="category">Description <p-sortIcon field="category"></p-sortIcon></th>
                                <th pSortableColumn="qty">Qty <p-sortIcon field="qty"></p-sortIcon></th>
                                <th pSortableColumn="gold">Gold <p-sortIcon field="gold"></p-sortIcon></th>
                                <th pSortableColumn="lc">LC <p-sortIcon field="lc"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-groupItem let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{groupItem.category}}</td>
                                <td>{{groupItem.qty}}</td>
                                <td>{{groupItem.gold}}</td>
                                <td>{{groupItem.lc}}</td>
                                <td class="text-right noprint" >
                                    <a [routerLink]=""  (click)="categorySelected(groupItem,i)" *ngIf="selectedCategoryIndex!=i"> <mat-icon>gps_not_fixed</mat-icon> </a>
                                    <a [routerLink]=""   *ngIf="selectedCategoryIndex==i"> <mat-icon>gps_fixed</mat-icon> </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <!--    Footer area-->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <div class="col" fxLayoutAlign="center center">
                    <pre>
                            stockByGroup = {{stockByGroup | json}}
                    </pre>

            </div>
            <div class="col" fxFlex="2 1 auto" fxLayoutAlign="center center">
                    <pre>
                        ghfh
                    </pre>
            </div>
        </div>
    </div>
</div>



