

table{
    border-collapse: collapse; width : 100%;
}
/*label{width: 100%;}*/

th{border-bottom: 1px  solid black;
    font-size: small
}
td{border-bottom: 1px  solid rgba(97, 97, 97, 0.91);
    font-size: small
}

.sl,.qty, .qty-footer, .gini, .gini-footer, .fine, .fine-footer, .lc, .lc-footer{
    text-align: right !important;
}

.date{
    padding-left: 3px;
}

