.highlight {
  background-color: #e4e5d7 !important;  /* or any highlight color */
}
.highlight td{
  color: #cf0f2a !important;
}
.gradient-bg {
  background: linear-gradient(135deg, #aaf5f9 0%, #fdf7cc 100%);
}
