<div id="main-div">
    <form [formGroup] = topUpGoldForm>
        <div fxLayoutGap="15px" style="padding-left: 50px">
            <mat-form-field fxFlex="10">
                <input   class="p-1" type="text" formControlName="job" matInput placeholder="Job Number" style="border-radius: 5px;">
            </mat-form-field>
            <mat-form-field fxFlex="10" >
                <input   class="p-1" type="number" formControlName="gold" matInput placeholder="Gold" style="border-radius: 5px;">
            </mat-form-field>
        </div>
        <div style="text-align: center" fxLayoutGap="15px">
            <button mat-raised-button class="btn-info"  (click)="onSearch()">Search Job</button>
            <button mat-raised-button class="btn-info" [disabled]="responseMessage!=null"  (click)="onSubmit()">Update Topup Gold</button>
            <button mat-raised-button color="warn" type="button" (click)="onReset()">Reset</button>
        </div>

        <mat-error  *ngIf="topUpGoldForm.get('job')?.hasError('required') && topUpGoldForm.get('job')?.touched">
            Job number is required
        </mat-error>
    </form>
    <div *ngIf="responseMessage">
        {{responseMessage.message }}
    </div>
    <!--    for job details-->
    <div style="margin-left: 50px;" *ngIf="jobDetails" id="print-job-details">
        <h2>JOB Details for ID: {{jobDetails.job.job_id}}</h2>
        <h3>Bill No . {{jobDetails.bill_no}}</h3>
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
            <tr>
                <th>Transaction</th>
                <th>Comment</th>
                <th>Value (gms)</th>
                <th>Timestamp</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of jobDetails.gold">
                <td>{{ item.transaction_text }}</td>
                <td>{{ item.comment }}</td>
                <td class="text-end">{{ item.gold_value }}</td>
                <td>{{ item.timestamp }}</td>
            </tr>
            <tr style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <td colspan="2" class="text-center fw-bold">Gold Used</td>
                <td class="text-end fw-bold"> {{ totalGoldUse | number:'1.3-3' }}</td>
            </tr>
            <tr *ngFor="let item of jobDetails.pan">
                <td>{{ item.transaction_text }}</td>
                <td>{{ item.comment }}</td>
                <td class="text-end">{{ item.gold_value }}</td>
                <td>{{ item.timestamp }}</td>
            </tr>
            <tr style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <td colspan="2" class="text-center fw-bold">Pan Used</td>
                <td class="text-end fw-bold"> {{ totalPanUse | number:'1.3-3' }}</td>
            </tr>
            <tr *ngFor="let item of jobDetails.nitric">
                <td>{{ item.transaction_text }}</td>
                <td>{{ item.comment }}</td>
                <td class="text-end">{{ item.gold_value }}</td>
                <td>{{ item.timestamp }}</td>
            </tr>
            <tr style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <td colspan="2" class="text-end fw-bold">Nitric Used</td>
                <td class="text-end fw-bold"> {{ totalNitricUse | number:'1.3-3' }}</td>
            </tr>
            </tbody>
        </table>
        <h3>Final Calculation</h3>
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
            <tr>
                <td>Sl</td>
                <td>Subject</td>
                <td>Value</td>
                <td>Job%</td>
                <td>Bill%</td>
                <td>Bill Value</td>
                <td>Fine 92%</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td>Gold Used</td>
                <td>{{totalGoldUse | number:'1.3-3'}}</td>
                <td>100%</td>
                <td>100%</td>
                <td>{{totalGoldUse | number:'1.3-3'}}</td>
                <td class="text-end">{{totalGoldUse * 0.92 | number:'1.3-3'}}</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Pan Used</td>
                <td>{{totalPanUse | number:'1.3-3'}}</td>
                <td>100%</td>
                <td>40%</td>
                <td>{{totalPanUse * jobDetails.rm_bangle_pan.bill_percentage | number:'1.3-3'}}</td>
                <td class="text-end">{{totalPanUse * jobDetails.rm_bangle_pan.bill_percentage * 0.92 | number:'1.3-3'}}</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Nitric Used</td>
                <td>{{totalNitricUse | number:'1.3-3'}}</td>
                <td>93%</td>
                <td>100%</td>
                <td>{{totalNitricUse * jobDetails.rm_nitric.job_percentage | number:'1.3-3'}}</td>
                <td class="text-end">{{totalNitricUse * jobDetails.rm_nitric.job_percentage * 0.92 | number:'1.3-3'}}</td>
            </tr>
            <tr>
                <th>4</th>
                <td>P Loss</td>
                <td colspan="3">{{jobDetails.job.p_loss | number:'1.3-3'}} X {{jobDetails.job.pieces}} pcs </td>
                <td>{{totalPLoss  | number:'1.3-3'}}</td>
                <td class="text-end">{{totalPLoss * 0.92 | number:'1.3-3'}}</td>
            </tr>
            <tr>
                <th>5</th>
                <td>MV</td>
                <td colspan="3">{{jobDetails.job.markup_value | number:'1.3-3'}} X {{jobDetails.job.pieces}} pcs </td>
                <td>{{totalMV  | number:'1.3-3'}}</td>
                <td class="text-end">{{totalMV * 0.92 | number:'1.3-3'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr style="border-top: 1px solid black; border-bottom: 1px solid black;">
                <th colspan="5">Final Bill Calculated</th>
                <th>{{finalGini  | number:'1.3-3'}}</th>
                <th class="text-end">{{finalGini * 0.92 | number:'1.3-3'}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
