<div id="create-order-div">
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Entry</h5>
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <form [formGroup]="orderForm">

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 flex-fill">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Details</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
