

table{
    border-collapse: collapse; width : 100%;
}
/*label{width: 100%;}*/

th{border-bottom: 1px  solid black;
    font-size: small
}
td{border-bottom: 1px  solid rgba(97, 97, 97, 0.91);
    font-size: small
}

.qty-heading, .gini-heading, .fine-heading, .lc-heading{
    text-align: right !important;
}
.sl,.qty, .qty-footer, .gini, .gini-footer, .fine, .fine-footer, .lc, .lc-footer{
    text-align: right !important;
}
.tag-heading,.size-heading,.model-heading,.tr-date-heading{
    text-align: center !important;
}
.tag,.size,.model,.tr-date{
    text-align: center !important;
}

.date{
    padding-left: 3px;
}

@media print
{
    .no-print, noPrint, .no-print *
    {
        display: none !important;
    }
}
