<div class="d-flex flex-row" style="min-height: 80vh;">
    <div class="p-2 col-4">

    </div>
    <div class="p-2 col-4">
        <h2 *ngIf="SavedResponse">Previous balance</h2>
        <h2 *ngIf="!SavedResponse">Current balance</h2>
        <table class="table table-striped  col-xl-12 col-lg-12 col-xs-12">
            <thead>
            <tr>
                <th scope="col">Material Name</th>
                <th scope="col">Value</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materialBalance">
                <td>{{material.rawMaterialName}}</td>
                <td>{{material.closingBalance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="!isProduction">
    <mat-button-toggle (click)="showDeveloperDiv=true">Show</mat-button-toggle>
    <mat-button-toggle (click)="showDeveloperDiv=false">Hide</mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="showDeveloperDiv && !isProduction" id="developer-div">
    <div class="outerContainer">
        <h2>Developer Area</h2>
        <mat-tab-group mat-align-tabs="center" backgroundColor="accent">
            <mat-tab label="Sec 1">
                <pre>
                    materialBalance={{materialBalance|json}}
                </pre>
            </mat-tab>
            <mat-tab label="Sec 2">
                <pre>

                </pre>
            </mat-tab>
            <mat-tab label="Sec 3">
                <pre>

                </pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
