<div id="petty-cash-div">
    <div fxLayout="row" fxLayout.xs="column">
            <!--        Left part-->
            <div class="child-1" fxFlex="40">
                <!--            Order form-->
                <mat-card id="stock-form-div">
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        Left part
                    </mat-card-content>
                </mat-card>
            </div>
            <!--        Right Part-->
            <div class="child-2" fxFlex="60">
                <mat-card class="example-card">
                    <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        right part
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
</div>

