#petty-cash-div{
  min-height: 100vh;
  width: 100vw;
  padding-left: 35px;
  padding-right: 65px;
}
#developer-div{
  padding-left: 35px;
  padding-right: 65px;
}
#expenditure{
  background: linear-gradient(90deg, rgb(195, 230, 145) 0%, rgb(113, 121, 84) 35%, rgb(255, 224, 103) 100%);;
}
#income{
  background: #277a5a;
}
