<div class="d-flex flex-row gradient-bg" style="min-height: 80vh;">
    <div class="p-2 col-4">
        <h2>Sending from Owner to Manager</h2>
        <h5>শুধুমাত্র মালিক ম্যানেজারকে যে কোন মেটাল দেওয়ার জায়গা</h5>
        <hr>
        <form [formGroup] = ownerToMangerForm>
            <ng-select [items]="materials"
                       bindLabel="rmName"
                       class="custom"
                       bindValue="rmID"
                       formControlName="rm_id"
                       placeholder="Select Material">
            </ng-select>
            <mat-error *ngIf="ownerToMangerForm.get('rm_id')?.hasError('required')">
                Material is required
            </mat-error>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Quantity</mat-label>
                    <input type="number" min="0.001" step="1.000" #silverValue class="text-right"  matInput formControlName="value" placeholder="Material" >
                </mat-form-field>
                <mat-error *ngIf="ownerToMangerForm.get('value')?.hasError('required')">
                    Quantity is required
                </mat-error>
                <mat-error *ngIf="ownerToMangerForm.get('value')?.hasError('min')">
                    Must be at least 0.001
                </mat-error>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary" [disabled]="!ownerToMangerForm.valid || ownerToMangerForm.pristine" (click)="saveTransfer()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-8 d-flex">
        <!-- After save savedResponse -->
        <div class="p-2 col-6" *ngIf="savedResponse">
            <table class="table table-success table-striped  col-xl-12 col-lg-12 col-xs-12">
                <thead>
                <tr>
                    <th colspan="2">Manager Balance
                        <span *ngIf="savedResponse">পরিবর্তনের পরে</span>
                    </th>
                </tr>
                <tr>
                    <th scope="col">Material Name</th>
                    <th scope="col">Value</th>

                </tr>
                </thead>
                <tbody>
                                <tr *ngFor="let material of managerMaterialBalanceUpdated" [class.highlight]="material.rmId === ownerToMangerForm.get('rm_id')?.value">
                                    <td>
                                        <span *ngIf="material.rmId === ownerToMangerForm.get('rm_id')?.value">➡</span>
                                        {{material.rawMaterialName}}
                                    </td>
                                    <td class="text-right">{{material.closingBalance | number:'1.3-3'}}</td>
                                </tr>
                </tbody>
            </table>
        </div>
        <!-- Before Save-->
        <div class="p-2 col-6" *ngIf="managerMaterialBalance">
            <table class="table  table-striped  col-xl-12 col-lg-12 col-xs-12">
                <thead>
                <tr>
                    <th colspan="2">Manager Balance
                        <span *ngIf="!savedResponse">এখনকার</span>
                        <span *ngIf="savedResponse">আগের</span>
                    </th>
                </tr>
                <tr>
                    <th scope="col">Material Name</th>
                    <th scope="col">Value</th>

                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let material of managerMaterialBalance">
                <tr *ngIf="material.closingBalance !== 0 || material.rmId === ownerToMangerForm.get('rm_id')?.value"
                    [class.highlight]="material.rmId === ownerToMangerForm.get('rm_id')?.value"
                    (click)="selectMaterial(material)">
                    <td>
                        <span *ngIf="material.rmId === ownerToMangerForm.get('rm_id')?.value">➡</span>
                        {{material.rawMaterialName}}
                    </td>
                    <td class="text-right">{{material.closingBalance | number:'1.3-3'}}</td>
                </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="!isProduction">
    <mat-button-toggle (click)="showDeveloperDiv=true">Show</mat-button-toggle>
    <mat-button-toggle (click)="showDeveloperDiv=false">Hide</mat-button-toggle>
</mat-button-toggle-group>


<div *ngIf="showDeveloperDiv && !isProduction" id="developer-div">
    <div class="outerContainer">
        <h2>Developer Area</h2>
        <mat-tab-group mat-align-tabs="center" backgroundColor="accent">
            <mat-tab label="Sec 1">
                <pre>
                    updatedMaterialBalance = {{managerMaterialBalance | json }}
                </pre>
            </mat-tab>
            <mat-tab label="Sec 2">
                <pre>
                    ownerToMangerForm={{ownerToMangerForm.value | json}}
                </pre>
            </mat-tab>
            <mat-tab label="Sec 3">
                <pre>

                </pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

