<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <form [formGroup] = LcReceiptForm>
            <ng-select [items]="agents"
                       bindLabel="agent_name"
                       class="custom"
                       (change)="agentSelected()"
                       bindValue="agent_id"
                       formControlName="agent_id"
                       placeholder="Select Agent">
            </ng-select>
            <ng-select [items]="customers"
                       bindLabel="cust_name"
                       class="custom"
                       (change)="agentSelected()"
                       bindValue="cust_id"
                       formControlName="cust_id"
                       placeholder="Select Customer">
            </ng-select>
        </form>
    </div>
    <div class="p-2 col-8">Flex item 2</div>
</div>

<div *ngIf="!isProduction" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>
                agents= {{agents | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                customers= {{customers | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                LcReceiptForm.value={{LcReceiptForm.value | json}}
            </pre>
        </div>
    </div>
</div>

