<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <form [formGroup] = lcReceiptForm>
            <ng-select [items]="agents"
                       bindLabel="agent_name"
                       class="custom"
                       (change)="agentSelected()"
                       bindValue="agent_id"
                       formControlName="agent_id"
                       placeholder="Select Agent">
            </ng-select>
            <ng-select [items]="customers"
                       bindLabel="cust_name"
                       class="custom"
                       (change)="onCustomerSelected($event)"
                       bindValue="cust_id"
                       formControlName="cust_id"
                       placeholder="Select Customer">
            </ng-select>
            <div *ngIf="customerDues">
                <span> Gold Due: {{customerDues.gold_due}}</span> and <span> LC Due: {{customerDues.lc_due}}</span>
            </div>
            <div>
                <mat-radio-group class="payment-mode" aria-label="Select an option" formControlName="mode">
                    <mat-radio-button value="1" >Cash</mat-radio-button>
                    <mat-radio-button value="2" >Cheque</mat-radio-button>
                </mat-radio-group>
            </div>



            <mat-form-field class="example-full-width" *ngIf="showChequeDetails">
                <mat-label>Enter Cheque Details</mat-label>
                <textarea matInput formControlName="cheque_details" placeholder="Cheque No. Bank Name"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Enter LC Received</mat-label>
                <input type="number" class="text-right" matInput formControlName="amount" placeholder="LC Amount" >
            </mat-form-field>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary" [disabled]="!lcReceiptForm.valid || lcReceiptForm.pristine" (click)="saveLcReceipt()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-8">
        <div style="text-align: right">
            <button
                    mat-button color="primary"
                    [printStyle]="printDivStyle"
                    [useExistingCss]="true"
                    printSectionId="lc-receipt-report"
                    ngxPrint ><mat-icon>print</mat-icon>
            </button>
        </div>
        <div *ngIf="afterSaveResponse" id="lc-receipt-report">
            <pre>
                <h4>Labour Charge Received</h4>
                <table>
                    <tr>
                        <td>Transaction No.</td>
                        <td>{{afterSaveResponse.lc_receipt.lc_receipt_no}}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{afterSaveResponse.lc_receipt.lc_receipt_date}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>Rs. {{afterSaveResponse.lc_receipt.amount}}</td>
                    </tr>
                    <tr>
                        <td>Agent</td>
                        <td>{{afterSaveResponse.agent.agent_name}}</td>
                    </tr>
                </table>
                <div>Thanking you</div>


            </pre>
        </div>
        <div>
            <p-table #myTab [value]="lcReceipts">
                <ng-template pTemplate="header">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-receipts>
                    <tr>
                        <td>
                            {{ receipts.lc_receipt_date }}
                        </td>
                        <td>
                            {{ receipts.lc_receipt_no }}
                        </td>
                        <td>
                            {{ receipts.amount }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div *ngIf="!isProduction && false" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>
                LcReceiptForm.value={{lcReceiptForm.value | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                customers= {{customers | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                agents= {{agents | json}}
            </pre>
        </div>
    </div>
</div>

