<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <form [formGroup] = lcReceiptForm>
            <ng-select [items]="agents"
                       bindLabel="agent_name"
                       class="custom"
                       (change)="agentSelected()"
                       bindValue="agent_id"
                       formControlName="agent_id"
                       placeholder="Select Agent">
            </ng-select>
            <ng-select [items]="customers"
                       bindLabel="cust_name"
                       class="custom"
                       (change)="onCustomerSelected($event)"
                       bindValue="cust_id"
                       formControlName="cust_id"
                       placeholder="Select Customer">
            </ng-select>
            <div *ngIf="customerDues">
                <span> Gold Due: {{customerDues.gold_due}}</span> and <span> LC Due: {{customerDues.lc_due}}</span>
            </div>
            <div>
                <mat-radio-group class="payment-mode" aria-label="Select an option" formControlName="mode">
                    <mat-radio-button value="1" >Cash</mat-radio-button>
                    <mat-radio-button value="2" >Cheque</mat-radio-button>
                </mat-radio-group>
            </div>



            <mat-form-field class="example-full-width" *ngIf="showChequeDetails">
                <mat-label>Enter Cheque Details</mat-label>
                <textarea matInput formControlName="cheque_details" placeholder="Cheque No. Bank Name"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Enter LC Received</mat-label>
                <input type="number" class="text-right" matInput formControlName="amount" placeholder="LC Amount" >
            </mat-form-field>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary" [disabled]="!lcReceiptForm.valid || lcReceiptForm.pristine" (click)="saveLcReceipt()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-8">
        <div style="text-align: right">
            <button
                    mat-button color="primary"
                    [printStyle]="printDivStyle"
                    [useExistingCss]="true"
                    printSectionId="lc-receipt-report"
                    ngxPrint ><mat-icon>print</mat-icon>
            </button>
        </div>
        <div *ngIf="afterSaveResponse" id="lc-receipt-report">
            ID: {{afterSaveResponse.lc_receipt.lc_receipt_no}}<br>
            From {{afterSaveResponse.customer.mailing_name}}<br>
            of {{afterSaveResponse.customer.city}}<br>
            through {{afterSaveResponse.agent.agent_name}}<br>
            Received by {{afterSaveResponse.employee.emp_name}}<br>
            <table>
                <tbody>
                    <tr style="border-top: 1px solid black">
                        <td>Previous Dues:    </td>
                        <td  align="right">{{afterSaveResponse.lc_due.lc_due_before}}</td>
                    </tr>
                    <tr>
                        <td>Less: Now refund</td>
                        <td align="right">{{afterSaveResponse.lc_receipt.amount}}</td>
                    </tr>
                    <tr style="border-top: 1px solid black; border-bottom: 1px double black">
                        <td>Current Due     </td><td align="right">{{afterSaveResponse.lc_due.lc_due_before - afterSaveResponse.lc_receipt.amount}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <p-table #myTab [value]="lcReceipts">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Receipt No.</th>
                        <th>Amount</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-receipts>
                    <tr>
                        <td>
                            {{ receipts.lc_receipt_date }}
                        </td>
                        <td class="text-right">
                            <a [routerLink]="" (click)="onLcReceiptSelected(receipts)">{{ receipts.lc_receipt_no }}</a>
                        </td>
                        <td class="text-right">
                            {{ receipts.amount }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div *ngIf="!isProduction && false" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>
                LcReceiptForm.value={{lcReceiptForm.value | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                customers= {{customers | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                agents= {{agents | json}}
            </pre>
        </div>
    </div>
</div>

