<div class="d-flex flex-column" style="height: 100vh;">
    <div class="p-2 text-center" style="background-color: rgb(77, 68, 68)">I am Header, i will stay here</div>

    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <!-- Left -->
            <div class="p-2 col-xl-4" style="background-color: rgb(199, 192, 192)">
                <form id="customer-form" [formGroup]="salaryHolderSalaryPaymentForm">
                    <div class="mb-3">
                        <label for="person-name" class="form-label">Salary Holder</label> <span
                            class="bi bi-file-person"></span>
                        <div fxLayoutGap="30px" style="padding-top: 10px">
                            <ng-select [items]="salaryHolders" id="person-name"
                                       bindLabel="salaryHolderName"
                                       class="custom"
                                       bindValue="id"
                                       formControlName="salaryHolderId"
                                       (change)="onSalaryHolderSelect($event)"
                                       placeholder="Select Salary Holder">
                            </ng-select>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="amount" class="col-sm-2 col-form-label">Year </label>
                        <div class="col-sm-10">
                            <p-inputNumber id="amount" formControlName="yearNumber" mode="decimal" value="2022" thousandSeparator=" " [showButtons]="true" inputId="amount">
                            </p-inputNumber>
                            <!--                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="amount" class="col-sm-2 col-form-label">Month </label>
                        <div class="col-sm-10">
                            <p-inputNumber id="amount" formControlName="monthNumber" mode="decimal" value="7" thousandSeparator=" " [showButtons]="true" inputId="amount">
                            </p-inputNumber>
                            <!--                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="amount" class="col-sm-2 col-form-label">Amount </label>
                        <div class="col-sm-10">
                            <p-inputNumber id="amount" formControlName="salaryPaid" mode="decimal" thousandSeparator=" " [showButtons]="true" inputId="amount">
                            </p-inputNumber>
<!--                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">-->
                        </div>
                    </div>

                    <button type="button"  (click)="showCurrentSalary()" class="btn btn-secondary">Show Current Salary</button>
                    <button type="button"  (click)="saveSalaryPayment()" class="btn btn-primary">Save Salary</button>
<!--                    <button type="button" id="show-students" class="btn btn-secondary">Show Students</button>-->
<!--                    <button type="button" id="save-to-excel" class="btn btn-warning">Save to Excel</button>-->
                </form>
            </div>
            <!-- Right -->
            <div class="bloc_2 p-2 col-xl-8" style="background-color: antiquewhite">
                <div>
                    <pre>
                        currentSalary = {{currentSalary | json}}
                    </pre>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
    <!--    Footer area-->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">
                <pre>
                    salaryHolderSalaryPaymentForm = {{salaryHolderSalaryPaymentForm.value | json}}
                </pre>
            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
        </div>
    </div>
</div>


