<div class="d-flex flex-row" style="min-height: 80vh;">
    <div class="p-2 col-4">
        <form [formGroup] = materialRecivingForm>
            <ng-select [items]="selectableEmployees"
                       (click)="onEmployeeChange()"
                       bindLabel="employeeName"
                       class="custom"
                       bindValue="employeeId"
                       formControlName="outward_employee_id"
                       placeholder="Reciving from">
            </ng-select>
            <ng-select [items]="selectableMaterials"
                       bindLabel="rmName"
                       class="custom"
                       bindValue="rmID"
                       formControlName="rm_id"
                       placeholder="Select Material">
            </ng-select>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Material Value</mat-label>
                    <input type="number" class="text-right" matInput formControlName="value" placeholder="Material value" >
                </mat-form-field>
            </div>
            <div class="p-2 bd-highlight">
                <div class="example-button-row">
                    <button class="text-right" mat-button color="primary" [disabled]="!materialRecivingForm.valid || materialRecivingForm.pristine" (click)="saveMaterialTransfer()">Save Record</button>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-8 d-flex">

    </div>
</div>




<mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="!isProduction">
    <mat-button-toggle (click)="showDeveloperDiv=true">Show</mat-button-toggle>
    <mat-button-toggle (click)="showDeveloperDiv=false">Hide</mat-button-toggle>
</mat-button-toggle-group>


<div *ngIf="showDeveloperDiv && !isProduction" id="developer-div">
    <div class="outerContainer">
        <h2>Developer Area</h2>
        <mat-tab-group mat-align-tabs="center" backgroundColor="accent">
            <mat-tab label="Sec 1">
                <pre>
                    materialSendingForm = {{materialRecivingForm.value | json}}
                </pre>
            </mat-tab>
            <mat-tab label="Sec 2">
                <pre>

                </pre>
            </mat-tab>
            <mat-tab label="Sec 3">
                <pre>

                </pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
