<div id="agent-wise-stock-div">
    <mat-card>
        <mat-card-title>
        </mat-card-title>
        <mat-card-content>
            <div>
                <form [formGroup]="agentStockForm">
                    <div fxFlex="70">
                        <ng-select [items]="agentList"
                                   bindLabel="agent_name"
                                   class="custom"
                                   bindValue="agent_id"
                                   formControlName="agent_id"
                                   placeholder="Select Agent"
                                   (change)="stockByAgent($event)">
                        </ng-select>
                    </div>
                    <div fxFlex="30">
                        <div class="example-button-row" fxFlex="40">
                            <button mat-raised-button color="accent">View Stock</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div *ngIf="stoockListByAgent">
                    <table class="table table-bodered">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Tag</th>
                                <th>Model No.</th>
                                <th>Model Size</th>
                                <th>Quantity</th>
                                <th>Gold</th>
                                <th>Labour Charge</th>
                                <th>Gross Weight</th>
                                <th>Package Weight</th>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of stoockListByAgent; let i = index">
                                <td >{{i+1}}</td>
                                <td >{{row.tag}}</td>
                                <td >{{row.modelNo}}</td>
                                <td >{{row.modelSize}}</td>
                                <td >{{row.quantity}}</td>
                                <td >{{row.gold}}</td>
                                <td >{{row.labourCharge}}</td>
                                <td >{{row.grossWeight}}</td>
                                <td >{{row.packageWeight}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <pre>
                    {{stoockListByAgent | json}}
                </pre> -->
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="!isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">

            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
            <div fxLayoutAlign="center center">3</div>
            <div fxLayoutAlign="center center">4</div>
        </div>
    </div>
</div>
