<div id="agent-wise-stock-div">
    <mat-card>
        <mat-card-content>
            <div>
                <form [formGroup]="agentStockForm">
                    <div fxFlex="30">
                        <ng-select [items]="agentList"
                                   bindLabel="agent_name"
                                   class="custom"
                                   bindValue="agent_id"
                                   formControlName="agent_id"
                                   placeholder="Select Agent"
                                   (change)="stockByAgent($event)">
                        </ng-select>
                    </div>
                </form>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div class="child-1" fxFlex="40">
                    <div style="text-align: right">
                    <!-- use useExistingCss to usecurrent Style and  styleSheetFile to add your custom file, use anyone of them-->
                    <button
                            mat-button color="primary"
                            printSectionId="stockListDiv"
                            [useExistingCss]="true"
                            styleSheetFile="assets/print_css/agent_wise_stock/style1.css"
                            ngxPrint><mat-icon>print</mat-icon>
                    </button>
                    <button mat-button color="primary" (click)="commonService.exportToExcel('printable-stock-table','stock.xlsx')"><mat-icon>cloud_download</mat-icon></button>
                    <button mat-button color="primary" (click)="commonService.arrayToExcel(agentList,'stock.xlsx')">Save Agents to Excel</button>
                </div>
                    <div *ngIf="stoockListByAgent" id="stockListDiv" class="table-responsive">
                        <table class="table table-bodered table-condensed" id="printable-stock-table">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Tag</th>
                                <th>Model No.</th>
                                <th>Model Size</th>
                                <th>Quantity</th>
                                <th>Gold</th>
                                <th>Labour Charge</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of stoockListByAgent; let i = index">
                                <td >{{i+1}}</td>
                                <td >{{row.tag}}</td>
                                <td >{{row.modelNo}}</td>
                                <td >{{row.modelSize}}</td>
                                <td >{{row.quantity}}</td>
                                <td class="text-right">{{row.gold | number: '1.3'}}</td>
                                <td class="text-right">{{row.labourCharge}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="!isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">

            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
            <div fxLayoutAlign="center center">3</div>
            <div fxLayoutAlign="center center">4</div>
        </div>
    </div>
</div>
