<div id="transfer-to-agent-div">
    <h3>Transfer to Agent</h3>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-6 flex-column">
            <form [formGroup]=transferForm class="row g-3" fxFlex="30">
                <ng-select [items]="agents"
                           bindLabel="agent_name"
                           class="custom"
                           bindValue="agent_id"
                           formControlName="agentId"
                           (change)="onAgentSelect($event)"
                           placeholder="Select Agent">
                </ng-select>
            </form>

        </div>
        <div class="col-6">
            <div *ngIf="selectedAgent" class="d-flex flex-column">
                <div class="p-2">AGENT: {{selectedAgent.agent_name}}<span class="p-1 ml-2 bg-success text-white">[Gold Limit: {{selectedAgent.max_gold_limit_ready_made | number: '1.3'}} gm]</span></div>
                <div class="d-flex justify-content-around bg-info">
                    <div class="p-2">
                        Sets: {{selectAgentReadyMadeBalance.sets}}
                    </div>
                    <div class="p-2">
                        Qty: {{selectAgentReadyMadeBalance.qty}}
                    </div>
                    <div class="p-2">
                        GOLD: {{selectAgentReadyMadeBalance.gold | number: '1.3'}}
                    </div>
                    <div class="p-2">
                        LC: {{selectAgentReadyMadeBalance.lc}}
                    </div>
                </div>

                <div class="d-flex justify-content-around bg-warning">
                    <div class="p-2">
                        Current Selected Gold: {{finalSelectedGoldTotal | number: '1.3'}}
                    </div>
                    <div class="p-2">
                        Total Gold: {{(selectAgentReadyMadeBalance.gold + finalSelectedGoldTotal) | number: '1.3'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-6 flex-column">
            <div *ngIf="selectedAgent" id="product-table-div">
                <form class="example-form">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                        <mat-slide-toggle
                                [(ngModel)]="checkedAvailableAllProducts"
                                class="example-margin"
                                [color]="color"
                                (change)="changeProductSlideToggle()"
                                [ngModelOptions]="{standalone: true}">
                                {{checkedAvailableAllProducts?'Deselect':'Select All'}}
                        </mat-slide-toggle>
                        <mat-form-field fxFlex="15">
                            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
                        </mat-form-field>
                        <mat-form-field fxFlex="10">
                            <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
                        </mat-form-field>
                        <mat-form-field fxFlex="10">
                            <input type="text" matInput placeholder="Total Products" [disabled]="true" value="{{countSelectedAvailableProduct()}}/{{products.length}}" name="totalProducts" >
                        </mat-form-field>
                        <button (click)="selectForTransfer()" [disabled]="!isAnyAvailableProductSelected()"   mat-mini-fab aria-label="Send all"  [matBadge]="countSelectedAvailableProduct()" matBadgePosition="before" matBadgeColor="primary">
                            <i class="ri-send-plane-2-fill"></i>
                        </button>

                    </div>
                    <div>
                        <mat-form-field fxFlex="15">
                            <input matInput placeholder="Enter tag..." #myInput (click)="myInput.select()" [(ngModel)]="searchTag" name="search" type="text" (blur)="selectForDirectTagTransfer()">
                        </mat-form-field>
                    </div>
                </form>
<!--                <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-responsive" style="border: none !important;">-->

                <!--                    <thead>-->
                <!--                    <tr>-->
                <!--                        <th mat-sort-header="selected">Select</th>-->
                <!--                        <th>Index</th>-->
                <!--                        <th mat-sort-header="tag">Tag</th>-->
                <!--                        <th mat-sort-header="model">Model</th>-->
                <!--                        <th mat-sort-header="size">Size</th>-->
                <!--                        <th mat-sort-header="quantity">Quantity</th>-->
                <!--                        <th>Gold</th>-->
                <!--                        <th>LC</th>-->
                <!--                        <th>Selected</th>-->
                <!--                    </tr>-->
                <!--                    </thead>-->
                <!--                    <tbody>-->
                <!--                    <tr [ngClass]="{selectedRow: product.is_selected}" *ngFor="let product of sortedProducts | filter:searchTerm | paginate: {id: 'pagination1', itemsPerPage: pageSize, currentPage: currentPageProducts };let indexOfElement=index">-->
                <!--                        <td><mat-checkbox class="example-margin" [(ngModel)]="product.is_selected"></mat-checkbox></td>-->
                <!--                        <td>{{(currentPageProducts-1)*10+indexOfElement+1}}</td>-->
                <!--                        <td>{{product.tag}}</td>-->
                <!--                        <td>{{product.model_no}}</td>-->
                <!--                        <td>{{product.model_size}}</td>-->
                <!--                        <td>{{product.qty}}</td>-->
                <!--                        <td>{{product.gold}}</td>-->
                <!--                        <td>{{product.labour_charge}}</td>-->
                <!--                        <td>{{product.is_selected}}</td>-->
                <!--&lt;!&ndash;                        <td>&ndash;&gt;-->
                <!--&lt;!&ndash;                            <button (click)="sendProduct(product)" [disabled]="!product.is_selected" mat-mini-fab aria-label="Example icon button with a home icon">&ndash;&gt;-->
                <!--&lt;!&ndash;                                <i class="ri-send-plane-2-fill"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;                            </button>&ndash;&gt;-->
                <!--&lt;!&ndash;                        </td>&ndash;&gt;-->
                <!--                    </tr>-->
                <!--                    </tbody>-->

                <!--                </table>-->
                <table  *ngIf="selectedAgent && (selectAgentReadyMadeBalance.gold + finalSelectedGoldTotal)<=selectedAgent.max_gold_limit_ready_made" matSort (matSortChange)="sortData($event)" class="table table-bordered table-responsive" style="border: none !important;">

                    <thead>
                    <tr>
                        <th mat-sort-header="selected">Select</th>
                        <th>Index</th>
                        <th mat-sort-header="tag">Tag</th>
                        <th mat-sort-header="model">Model</th>
                        <th mat-sort-header="model">Model</th>
                        <th mat-sort-header="size">Size</th>
                        <th mat-sort-header="quantity">Quantity</th>
                        <th>Gold</th>
                        <th>LC</th>
                        <th>Selected</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [ngClass]="{selectedRow: product.is_selected}" *ngFor="let product of sortedProducts | filter:searchTerm | filter:searchTag | paginate: {id: 'pagination1', itemsPerPage: pageSize, currentPage: currentPageProducts };let indexOfElement=index">
<!--                        <td><mat-checkbox class="example-margin" [(ngModel)]="product.is_selected"></mat-checkbox></td>-->
                        <td>
                            <mat-checkbox class="example-margin" (change)="onStockItemSelectionChange($event, product)" [(ngModel)]="product.is_selected">
                            </mat-checkbox>
                        </td>
                        <td>{{(currentPageProducts-1)*10+indexOfElement+1}}</td>
                        <td>{{product.tag}}</td>
                        <td>{{product.model_no}}</td>
                        <td>{{product.model_size}}</td>
                        <td>{{product.qty}}</td>
                        <td>{{product.gold}}</td>
                        <td>{{product.labour_charge}}</td>
                        <td>{{product.is_selected}}</td>
                        <td>
<!--                            <button (click)="sendProduct(product)" [disabled]="!product.is_selected" mat-mini-fab aria-label="Select Product">-->
<!--                                <i class="ri-send-plane-2-fill"></i>-->
<!--                            </button>-->
                        </td>
                    </tr>
                    </tbody>

                </table>


                <div *ngIf="selectedAgent && (selectAgentReadyMadeBalance.gold + finalSelectedGoldTotal)<=selectedAgent.max_gold_limit_ready_made" fxLayout.xs="column" fxLayout="column" fxFlexFill>
                    <!--    https://www.npmjs.com/package/ngx-pagination-->
                    <!--    npm i ngx-pagination-->
                    <pagination-controls id='pagination1' (pageChange)="currentPageProducts = $event" responsive="true" autoHide="true" previousLabel="আগে" nextLabel="পরে" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-6 flex-column">
            <div  id="selected-product-table-div">
                <form class="example-form">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                        <mat-slide-toggle
                                [(ngModel)]="checkedTransferableAllProducts"
                                class="example-margin"
                                [color]="color"
                                (change)="changeTransferableProductSlideToggle()"
                                [ngModelOptions]="{standalone: true}">
                            {{checkedTransferableAllProducts?'Deselect':'Select All'}}
                        </mat-slide-toggle>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search..." [(ngModel)]="searchTermSelectedProducts" name="search" type="text" autofocus>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Items per page" [(ngModel)]="pageSizeSelectedProducts" name="PageSize" type="text">
                        </mat-form-field>
                    </div>
                </form>
                <table class="table table-bordered table-responsive" style="border: none !important;">

                <thead>
                <tr>
                    <td>Select</td>
                    <td>Index</td>
                    <td>Tag</td>
                    <td>Model</td>
                    <td>Size</td>
                    <td>Quantity</td>
                    <td>Gold</td>
                    <td>LC</td>
                    <td>Selected</td>
                    <td>Delete</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of selectedProducts| filter:searchTermSelectedProducts | paginate: {id: 'pagination2', itemsPerPage: pageSizeSelectedProducts, currentPage: currentPageSelectedProducts };let indexOfElement=index">
                    <td>
                        <mat-checkbox class="example-margin" [disabled]="true" [(ngModel)]="product.is_selected" (change)="onSelectedProductSelectionChange($event, product)">
                        </mat-checkbox></td>
                    <td>{{(currentPageSelectedProducts-1)*10+indexOfElement+1}}</td>
                    <td>{{product.tag}}</td>
                    <td>{{product.model_no}}</td>
                    <td>{{product.model_size}}</td>
                    <td>{{product.qty}}</td>
                    <td>{{product.gold}}</td>
                    <td>{{product.labour_charge}}</td>
                    <td>{{product.is_selected}}</td>
                    <td>
                        <button mat-button (click)="deleteFromSelectedProducts(product)" style="color: red"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
                    <!--    https://www.npmjs.com/package/ngx-pagination-->
                    <!--    npm i ngx-pagination-->
                    <pagination-controls id='pagination2' (pageChange)="currentPageSelectedProducts = $event" responsive="true" autoHide="true" previousLabel="আগে" nextLabel="পরে" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true">
                    </pagination-controls>
            </div>

                <div *ngIf="selectedAgent && (selectAgentReadyMadeBalance.gold + finalSelectedGoldTotal)>selectedAgent.max_gold_limit_ready_made">You can not send more than {{selectedAgent.max_gold_limit_ready_made}} gm.</div>
                <button *ngIf="getSelectedAgentName().length>1 && selectedProducts.length>0" mat-button color="primary" [disabled]="(selectAgentReadyMadeBalance.gold + finalSelectedGoldTotal)>selectedAgent.max_gold_limit_ready_made" (click)="transferToAgent()">
                    Send to {{getSelectedAgentName()}}
                </button>
                <div>
                    <a [routerLink] = "['/AgentWiseStock']" fragment="Test">Go To Agentwise Stock </a>
                    <div>
                        <div class="child-1">
                            <div style="text-align: right">
                                <!-- use useExistingCss to usecurrent Style and  styleSheetFile to add your custom file, use anyone of them-->
                                <button
                                        mat-button color="primary"
                                        printSectionId="stockListDiv"
                                        [useExistingCss]="false"
                                        styleSheetFile="assets/print_css/agent_wise_stock/style1.css"
                                        ngxPrint><mat-icon>print</mat-icon>
                                </button>
                                <button mat-button color="primary" (click)="commonService.exportToExcel('printable-stock-table','stock')"><mat-icon>cloud_download</mat-icon></button>
<!--                                <button mat-button color="primary" (click)="commonService.arrayToExcel(agentList,'stock.xlsx')">Save Agents to Excel</button>-->
                            </div>
                            <div *ngIf="selectedAgent && stoockListByAgent" id="stockListDiv" class="table-responsive">
                                <table class="table table-bodered table-condensed" id="printable-stock-table">
                                    <thead>
                                    <tr>
                                        <td colspan="7">Agent: {{selectedAgent.agent_name}}</td>
                                        <td colspan="2">Date: {{currentDate | date:'dd-MM-yyyy hh:mm a'}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center sl-heading">SL</th>
                                        <th class="text-center tag-heading">Tag</th>
                                        <th class="text-center model-heading">Model</th>
                                        <th class="text-center size-heading">Size</th>
                                        <th class="text-center qty-heading">Qty</th>
                                        <th class="text-center gini-heading">Gini</th>
                                        <th class="text-center fine-heading">Fine</th>
                                        <th class="text-center lc-heading">LC</th>
                                        <th class="text-center date-heading">Date</th>
                                        <th class="text-center remarks-heading">Remarks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let row of stoockListByAgent; let i = index">
                                        <td  class="text-center sl">{{i+1}}</td>
                                        <td  class="text-center tag">{{row.tag}}</td>
                                        <td  class="text-center model">{{row.modelNo}}</td>
                                        <td  class="text-center size">{{row.modelSize}}</td>
                                        <td  class="text-right qty">{{row.quantity}}</td>
                                        <td class="text-right gini">{{row.gold | number: '1.3'}}</td>
                                        <td class="text-right fine">{{(row.gold * 0.92) | number: '1.3'}}</td>
                                        <td class="text-right lc">{{row.labourCharge}}</td>
                                        <td class="text-right date">{{row.updatedAt}}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4"  class="text-center">Total</td>
                                        <td class="text-right qty-footer">{{selectAgentReadyMadeBalance.qty}}</td>
                                        <td class="text-right gini-footer">{{selectAgentReadyMadeBalance.gold | number: '1.3'}}</td>
                                        <td class="text-right fine-footer">{{(selectAgentReadyMadeBalance.gold * 0.92) | number: '1.3'}}</td>
                                        <td class="text-right lc-footer">{{selectAgentReadyMadeBalance.lc}}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">
                this.selectedProducts = {{this.stoockListByAgent | json}}
            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
            <div fxLayoutAlign="center center">3</div>
            <div fxLayoutAlign="center center">4</div>
        </div>
    </div>
</div>





