<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <form [formGroup] = goldConversionForm>
            <ng-select [items]="karigars"
                       bindLabel="emp_name"
                       class="custom"
                       bindValue="karigar_id"
                       formControlName="karigar_id"
                       placeholder="Select karigar">
            </ng-select>



            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Fine Gold</mat-label>
                    <input type="number"  #fineGoldValue class="text-right" (keyup)="onFineGoldChange(fineGoldValue, copperValue)" matInput formControlName="fine_gold_value" placeholder="Fine Gold" >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Copper</mat-label>
                    <input type="number" #copperValue class="text-right" matInput formControlName="copper_value" (keyup)="onCopperChange(fineGoldValue, copperValue)" placeholder="Cash" >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>92 Gold Value</mat-label>
                    <input type="number" #copperValue class="text-right" matInput formControlName="gini_value"  placeholder="92 Gold" >
                </mat-form-field>
            </div>





            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary" [disabled]="!goldConversionForm.valid || goldConversionForm.pristine" (click)="saveGoldConversion()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-8">
        <table class="table table-striped col-xl-4 col-lg-4 col-xs-8">
            <thead>
            <tr>
                <th scope="col">Material Name</th>
                <th scope="col">Value</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materialBalance">
                <td>{{material.rawMaterialName}}</td>
                <td>{{material.closingBalance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="!isProduction && true" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>
                goldConversionForm = {{goldConversionForm.value | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                projectDetails= {{projectDetails | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                karigars= {{karigars | json}}
            </pre>
        </div>
    </div>
</div>

