<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <form [formGroup] = goldConversionForm>
            <ng-select [items]="karigars"
                       bindLabel="emp_name"
                       class="custom"
                       bindValue="emp_id"
                       formControlName="karigar_id"
                       placeholder="Select karigar">
            </ng-select>



            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Fine Gold</mat-label>
                    <input type="number"  #fineGoldValue class="text-right" (keyup)="onFineGoldChange(fineGoldValue, copperValue)" matInput formControlName="fine_gold_value" placeholder="Fine Gold" >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Copper</mat-label>
                    <input type="number" readonly #copperValue class="text-right" matInput formControlName="copper_value" (keyup)="onCopperChange(fineGoldValue, copperValue)"  placeholder="Copper" >
<!--                    <mat-hint class="text-danger" align="end">Req. Copper: {{expectedCopperValue}}</mat-hint>-->
                </mat-form-field>
            </div>
            <div class="mt-3">
                <mat-form-field class="example-full-width">
                    <mat-label>92 Gold Value</mat-label>
                    <input type="number" readonly #copperValue class="text-right" matInput formControlName="gini_value"  placeholder="92 Gold" >
<!--                    <mat-hint class="text-danger" align="end">Req. Gold: {{expectedGiniValue}}</mat-hint>-->
                </mat-form-field>
            </div>





            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary" [disabled]="!goldConversionForm.valid || goldConversionForm.pristine" (click)="saveGoldConversion()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-4">
        <h2 *ngIf="SavedResponse">Previous balance</h2>
        <h2 *ngIf="!SavedResponse">Current balance</h2>
        <table class="table table-striped  col-xl-12 col-lg-12 col-xs-12">
            <thead>
            <tr>
                <th scope="col">Material Name</th>
                <th scope="col">Value</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materialBalance">
                <td>{{material.rawMaterialName}}</td>
                <td>{{material.closingBalance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="SavedResponse" class="p-2 col-4">
        <h2 *ngIf="SavedResponse">Current balance</h2>
        <table class="table col-xl-12 col-lg-12 col-xs-12">
            <thead>
            <tr>
                <th scope="col">Material Name</th>
                <th scope="col">Value</th>

            </tr>
            </thead>
            <tbody style="border: 1px solid #10e523;">
            <tr *ngFor="let material of SavedResponse.data.material_balance">
                <td>{{material.rawMaterialName}}</td>
                <td>{{material.closingBalance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="!isProduction">
    <mat-button-toggle (click)="this.showDeveloperDiv=true" >Show</mat-button-toggle>
    <mat-button-toggle (click)="this.showDeveloperDiv=false">Hide</mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="!isProduction && showDeveloperDiv" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>
                goldConversionForm = {{goldConversionForm.value | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                extraCopperValue= {{extraCopperValue | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                SavedResponse= {{SavedResponse | json}}
            </pre>
        </div>
    </div>
</div>

