<div class="d-flex flex-column" style="min-height: 100vh;">
    <div class="p-2 text-center" style="background-color: rgb(183,174,159)">
        <h3>{{subject}}</h3>
    </div>

    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">

            <div class="p-2 col-xl-2" style="background-color: rgb(199, 192, 192)">
                <ul style="list-style: none;">
                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='Fine to 92'" routerLink='./FineToNinetyTwo'>Fine to 92</a>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='Dal Creation'" routerLink='./DalCreation'>Dal Creation</a>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='Pan Creation'" routerLink='./PanCreation'>Pan Creation</a>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='Nitric to Fine'" routerLink='./NitricToFine'>Nitric to Fine</a>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='Send Material'" routerLink='./SendRawMaterialToEmployee'>Send Material</a>
                            </button>
                        </div>
                    </li>

                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='Received Material'" routerLink='./ReceivedRawMaterialFromEmployee'>Received Material</a>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="example-button-row">
                            <button class="text-right" mat-button color="primary" >
                                <a style="text-decoration: none" (click)="subject='GP Transaction'" routerLink='./GpTransaction'>GP Transaction</a>
                            </button>
                        </div>
                    </li>

                </ul>

            </div>
            <!-- Right -->
            <div class="bloc_2 p-2 col-xl-10" style="background-color: antiquewhite">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!--    Footer area-->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>

<div *ngIf="true && !isProduction" id="developer-div">
    <div class="outerContainer">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div class="col" fxLayoutAlign="center center">
                    <pre>

                    </pre>

            </div>
            <div class="col" fxFlex="2 1 auto" fxLayoutAlign="center center">
                    <pre>

                    </pre>
            </div>
        </div>
    </div>
</div>




