<div class="d-flex flex-column" style="min-height: 100vh;">
    <!-- Header -->
    <div class="p-2 text-center" style="background-color: rgb(183,174,159)">
        <h3>{{subject}}</h3>
    </div>

    <!-- Body -->
    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">

            <!-- Left Panel -->
            <div class="p-2 col-xl-2 left-panel">
                <mat-nav-list>
                    <a mat-list-item routerLink="./FineToNinetyTwo" routerLinkActive="active" (click)="subject='Fine to 92'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Fine to 92</span>
                    </a>
                    <a mat-list-item routerLink="./DalCreation" routerLinkActive="active" (click)="subject='Dal Creation'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Dal Creation</span>
                    </a>
                    <a mat-list-item routerLink="./PanCreation" routerLinkActive="active" (click)="subject='Pan Creation'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Pan Creation</span>
                    </a>
                    <a mat-list-item routerLink="./NitricToFine" routerLinkActive="active" (click)="subject='Nitric to Fine'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Nitric to Fine</span>
                    </a>
                    <a mat-list-item routerLink="./SendRawMaterialToEmployee" routerLinkActive="active" (click)="subject='Send Material'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Send Material</span>
                    </a>
                    <a mat-list-item routerLink="./ReceivedRawMaterialFromEmployee" routerLinkActive="active" (click)="subject='Received Material'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Received Material</span>
                    </a>
                    <a mat-list-item routerLink="./ManagerCashWithdrawn" routerLinkActive="active" (click)="subject='Cash Withdrawn'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Cash Withdrawn</span>
                    </a>
                    <a mat-list-item routerLink="./ManagerCashSubmit" routerLinkActive="active" (click)="subject='Cash Submit to Employees'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Cash Submit</span>
                    </a>
                    <a mat-list-item routerLink="./GpTransaction" routerLinkActive="active" (click)="subject='GP Transaction'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>GP Transaction</span>
                    </a>
                    <a mat-list-item routerLink="./materialTransactionReport" routerLinkActive="active" (click)="subject='Material Transaction'">
                        <mat-icon>swap_horiz</mat-icon>
                        <span>Material Transactions</span>
                    </a>
                </mat-nav-list>
            </div>

            <!-- Right Panel -->
            <div class="bloc_2 p-2 col-xl-10" style="background-color: antiquewhite">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68); color: white;">
        I am footer, I will stay here
    </div>
</div>
