<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <form [formGroup] = goldReceiptForm>
            <ng-select [items]="agents"
                       bindLabel="agent_name"
                       class="custom"
                       (change)="agentSelected()"
                       bindValue="agent_id"
                       formControlName="agent_id"
                       placeholder="Select Agent">
            </ng-select>
            <ng-select [items]="customers"
                       bindLabel="cust_name"
                       class="custom"
                       (change)="onCustomerSelected($event)"
                       bindValue="cust_id"
                       formControlName="cust_id"
                       placeholder="Select Customer">
            </ng-select>
            <div *ngIf="customerDues">
                <span> Gold Due: {{customerDues.gold_due | number : '1.3'}} gm. </span> and <span> LC Due: Rs. {{customerDues.lc_due}}</span>
            </div>
            <div>
                <mat-radio-group class="payment-mode" aria-label="Select an option" formControlName="mode">
                    <mat-radio-button value="1" >Cash</mat-radio-button>
                    <mat-radio-button value="2" >Cheque</mat-radio-button>
                </mat-radio-group>
            </div>




            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Gold Received</mat-label>
                    <input type="number" step="0.001" class="text-right" matInput formControlName="amount" placeholder="LC Amount" >
                </mat-form-field>
            </div>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-button color="primary" [disabled]="!goldReceiptForm.valid || goldReceiptForm.pristine" (click)="saveLcReceipt()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-2 col-8">

    </div>
</div>



<div *ngIf="!isProduction" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>

            </pre>
        </div>
        <div class="p-2">
            <pre>
                customers= {{customers | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                agents= {{agents | json}}
            </pre>
        </div>
    </div>
</div>
