<div class="d-flex flex-row">
    <div class="p-2 col-4">
        <div>
        <form [formGroup] = goldReceiptForm>
            <ng-select [items]="agents"
                       bindLabel="agent_name"
                       class="custom"
                       (change)="agentSelected()"
                       bindValue="agent_id"
                       formControlName="agent_id"
                       placeholder="Select Agent">
            </ng-select>
            <ng-select [items]="customers"
                       bindLabel="cust_name"
                       class="custom"
                       (change)="onCustomerSelected($event)"
                       bindValue="cust_id"
                       formControlName="cust_id"
                       placeholder="Select Customer">
            </ng-select>
            <div *ngIf="customerDues" class="border-glow">
                <div>
                    <div>Customer Code: {{selectedCustomer.cust_id}}</div>
                    <div>Customer: {{selectedCustomer.cust_name}}</div>
                    <div>Customer: {{selectedCustomer.cust_phone}}</div>
                </div>
                <div>
                    <span> Gold Due: {{customerDues.gold_due | number : '1.3'}} gm. </span> and <span> LC Due: Rs. {{customerDues.lc_due}}</span>
                </div>
            </div>
            <div>
                <mat-radio-group class="payment-mode" aria-label="Select an option" formControlName="payment_mode">
                    <mat-radio-button *ngIf="selectedCustomer && selectedCustomer.is_stock_customer==0" value="1" >In Gold</mat-radio-button>
                    <mat-radio-button *ngIf="selectedCustomer && selectedCustomer.is_stock_customer==0" value="4" >In Cash</mat-radio-button>
                    <mat-radio-button *ngIf="selectedCustomer && selectedCustomer.is_stock_customer==1" value="5" >Virtual Gold</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="showCashEntry">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter Gold Rate(10Gm)</mat-label>
                        <input type="number"  #goldRate class="text-right" (keyup)="onGoldRateChange(goldRate, cash)" matInput formControlName="gold_rate" placeholder="Gold Rate" >
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter Cash against Gold</mat-label>
                        <input type="number" #cash class="text-right" matInput formControlName="cash" (keyup)="onGoldRateChange(goldRate, cash)" placeholder="Cash" >
                    </mat-form-field>
                </div>
            </div>



            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter Gold Received</mat-label>
                    <input [readonly]="showCashEntry" type="number" step="0.001" class="text-right" matInput formControlName="gold_value" placeholder="Gold Value" >
                </mat-form-field>
            </div>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-raised-button color="accent" [disabled]="goldReceiptForm.pristine"  (click)="resetForm()">Reset</button>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="example-button-row">
                        <button class="text-right" mat-raised-button color="primary" [disabled]="!goldReceiptForm.valid || goldReceiptForm.pristine" (click)="saveGoldReceipt()">Save Record</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <!-- for after saving data        -->
        <div *ngIf="afterSaveResponse" class="border-glow" id="print-gold-receipt">
            <button
                    class="no-print"
                    mat-button color="primary"
                    printSectionId="print-gold-receipt"
                    [useExistingCss]="false"
                    styleSheetFile="assets/print_css/gold_receipt/style1.css"
                    ngxPrint><mat-icon>print</mat-icon>
            </button>
            <table>
                <thead>
                <tr>
                    <td>Gold Receipt ID: </td>
                    <th style="padding: 5px;">{{afterSaveResponse.gold_receipt.gold_receipt_id}}</th>
                </tr>
                <tr>
                    <td>Customer ID: </td>
                    <td><strong>{{afterSaveResponse.customer.cust_id}}</strong></td>
                </tr>
                <tr>
                    <td>Customer: </td>
                    <td>{{afterSaveResponse.customer.mailing_name}}</td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td>{{afterSaveResponse.customer.cust_address}}</td>
                </tr>
                <tr>
                    <td>City: </td>
                    <td>{{afterSaveResponse.customer.city}}</td>
                </tr>
                <tr>
                    <td>Carrier: </td>
                    <td>{{afterSaveResponse.agent.agent_name}}</td>
                </tr>
                <tr>
                    <td>Received by: </td>
                    <td>{{afterSaveResponse.employee.emp_name}}</td>
                </tr>
                <tr>
                    <td>Date: </td>
                    <td >{{afterSaveResponse.gold_receipt.tr_date | number: '0.3-3'}}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Previous Gold Due: </td>
                    <td style="text-align: right">{{afterSaveResponse.gold_receipt.last_gold_balance | number: '0.3-3'}}</td>
                </tr>
                <tr>
                    <td>Less: Gold Received: </td>
                    <td style="text-align: right">{{afterSaveResponse.gold_receipt.gold_value | number: '0.3-3'}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="border-top: 1px solid black"></td>
                </tr>
                <tr>
                    <td>Current Gold Due: </td>
                    <td style="text-align: right">{{(afterSaveResponse.gold_receipt.last_gold_balance-afterSaveResponse.gold_receipt.gold_value) | number: '0.3-3'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-2 col-8">
        <h3 *ngIf="goldReceipts && goldReceipts.length>0">Gold Receipts</h3>
        <h3 *ngIf="!goldReceipts || goldReceipts.length==0">No Receipts recorded</h3>
        <p-table #myTab [value]="goldReceipts">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date</th>
                    <th>Receipt No.</th>
                    <th>Gold</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-receipts>
                <tr>
                    <td>
                        {{ receipts.gold_receipt_date }}
                    </td>
                    <td class="text-right">
                        <a [routerLink]="" (click)="onGoldReceiptSelected(receipts)">{{ receipts.gold_receipt_id }}</a>
                    </td>
                    <td class="text-right">
                        {{ receipts.gold_value | number:'0.3-3' }} gm
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



<div *ngIf="!isProduction" id="developer-div">
    <div class="d-flex flex-row">
        <div class="p-2">
            <pre>
                goldReceiptForm={{goldReceiptForm.value | json}}
                goldReceiptForm.valid={{goldReceiptForm.valid | json}}
                selectedCustomer={{selectedCustomer | json}}
            </pre>

        </div>
        <div class="p-2">
            <pre>
                afterSaveResponse= {{afterSaveResponse | json}}
            </pre>
        </div>
        <div class="p-2">
            <pre>
                goldReceipts= {{goldReceipts | json}}
            </pre>
        </div>
    </div>
</div>
