<div class="d-flex flex-column" style="min-height: 100vh; margin-bottom: 50px;">
    <div class="p-2 text-center" style="background-color: rgb(77, 68, 68)">I am Header, i will stay here</div>

    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <!-- Left -->
            <div class="p-2 col-xl-4" style="background-color: rgb(199, 192, 192)">
                <form id="customer-form">
                    <div class="mb-3">
                        <label class="form-label" id="customer-id">ID will be here</label>
                    </div>
                    <div class="mb-3">
                        <label for="person-name" class="form-label">Person Name</label> <span
                            class="bi bi-envelope"></span>
                        <input type="text" class="form-control" id="person-name" name="person_name" aria-describedby="person-name-help">
                        <div id="person-name-help" class="form-text">Enter Person Name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="person-age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="person-age" name="person_age">
                    </div>
                    <button type="button" id="save-customer" class="btn btn-primary">Save Person</button>
                    <button type="button" id="show-students" class="btn btn-secondary">Show Students</button>
                    <button type="button" id="save-to-excel" class="btn btn-warning">Save to Excel</button>
                </form>
            </div>
            <!-- Right -->
            <div class="bloc_2 p-2 col-xl-8" style="background-color: antiquewhite;">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let salaryHolder of salaryHolders">
                        <th scope="row">{{salaryHolder.id}}</th>
                        <td>{{salaryHolder.salaryHolderName}}</td>
<!--                        <td>{{salaryHolder.salary}}</td>-->
                        <td>
                            <input type="number" [(ngModel)]="salaryHolder.deduction" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                        </td>
                        <td>
                            <input type="number" [(ngModel)]="salaryHolder.salary" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--    Footer area-->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>


<div *ngIf="true && !isProduction" id="developer-div" class="d-flex flex-column" style="min-height: 100vh; margin-bottom: 50px;">
    <div class="outerContainer" style="margin-top: 50px; border: 1px solid black;">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">
                <pre>
                    salaryHolders={{salaryHolders | json }}
                </pre>
            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
        </div>
    </div>
</div>

