<div class="d-flex flex-column" style="min-height: 100vh; margin-bottom: 50px;">
    <div class="p-2 text-center" style="background-color: rgb(77, 68, 68)">I am Header, i will stay here</div>

    <div class="p-2">
        <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-column">
            <!-- Left -->
            <div class="p-2 col-xl-4" style="background-color: rgb(199, 192, 192)">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Final Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let salaryHolder of salaryHolders; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{salaryHolder.salaryHolderName}}</td>
                        <td>{{salaryHolder.calculatedSalary}}</td>


                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Right -->
            <div class="bloc_2 p-2 col-xl-8" style="background-color: antiquewhite;">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="mr-3">Salary Deduction in percentage </label>
                        <input type="number" #deductionPercentage class="form-control"  aria-describedby="deductionPercentageHelp" placeholder="Deduction Percentage">
                        <small id="deductionPercentageHelp" class="form-text text-muted" >%</small>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="onDeductionPercentageChange(deductionPercentage.value)">Calculate</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Hour(-)</th>
                        <th scope="col">Hour Deduction</th>
                        <th scope="col">Monthly Deduction%</th>
                        <th scope="col">Monthly Deduction</th>
                        <th scope="col">Extra Pay</th>
                        <th scope="col">Final Salary</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let salaryHolder of salaryHolders; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{salaryHolder.salaryHolderName}}</td>
                        <td>{{salaryHolder.salary}}</td>

                        <td>
                            <input type="number" [(ngModel)]="salaryHolder.hourDeduction" class="form-control" (change)="onHourDeductionChange()"   placeholder="HOUR">
                        </td>
                        <td>{{salaryHolder.hourDeductionAmount}}</td>
                        <td>
                            <input type="number" [(ngModel)]="salaryHolder.salaryDeductionPercentage" (change)="onMonthlyDeductionPercentageChange(salaryHolder)"  class="form-control"   placeholder="Percentage">
                        </td>
                        <td>{{salaryHolder.deduction}}</td>
                        <td>
                            <input type="number" [(ngModel)]="salaryHolder.amountAdded" (change)="onAmountAddedChange(salaryHolder)"  class="form-control"   placeholder="Percentage">
                        </td>
                        <td>{{salaryHolder.calculatedSalary}}</td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--    Footer area-->
    <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>


<div *ngIf="true && !isProduction" id="developer-div" class="d-flex flex-column" style="min-height: 100vh; margin-bottom: 50px;">
    <div class="outerContainer" style="margin-top: 50px; border: 1px solid black;">
        <div fxLayout="row" fxLayoutGap="1px" fxLayout.sm="column" class="container">
            <div fxLayoutAlign="center center">
                <pre>
                    salaryHolders={{salaryHolders | json }}
                </pre>
            </div>
            <div fxFlex="2 1 auto" fxLayoutAlign="center center">
            </div>
        </div>
    </div>
</div>

